---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Ben Ahlander"
  description="About Ben Ahlander Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="https://storage.googleapis.com/resume_assets/benportrait.jpeg"
          alt="Ben Ahlander at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            I am an experienced front-end developer with a 7-year track record
            in delivering user-centric software solutions. My skills span
            programming, data management, and a keen interest in cloud
            technologies.
          </p>
          <br />
          <p>
            At Overstock/Beyond, I've been part of a team that manages
            www.overstockgovernment.com and www.overstock.com/trade, where I
            co-won a hackathon by leveraging Open AI API's to improve search
            queries and search results. Additionally, I have a strong background
            in React web development, UI/UX design, and have led projects that
            significantly contributed to platform development and fundraising
            efforts.
          </p>
          <p>
            Through projects like the Dalle2 Image Generator and AWS Amplify
            Fundamentals, I've showcased my ability to develop web apps
            utilizing cutting-edge technologies and cloud platforms,
            underpinning my transition into cloud software engineering with
            practical experience and innovative solutions.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            Masters of Science in Information Systems at the University of Utah,
            Salt Lake City, Utah.
          </p>
          <p>
            Certified AWS Solutions Architect - Associate and AWS Academy
            Graduate, alongside Full Stack Web Development certification from
            Dev Mountain in 2017.
          </p>
          <p>
            Coursework includes Advanced SQL, Business Statistics, Cloud
            Computing, Cyber Security, Data Structures and Java, Data
            Warehousing, and Web-Based Applications Systems Analysis and Design.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            Experienced in integration with Stripe, Google Maps, Analytics, Tag
            Manager, NewRelic, HelloSign, Heap, SendBird, Auth0, LogRocket,
            MapBox, HotJar, Elastic Search, and more. Proficient in Web
            Development using React, NextJS, React Hooks, JavaScript, Redux,
            CSS, JSS, JSX, HTML, Node, Git, Jest, Cypress. Design skills include
            Figma, Adobe XD, Photoshop. Well-versed in cloud platforms like AWS
            Amplify, Serverless Stack, AWS Foundations, and Google Cloud
            Foundations.
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
